/* Import font from Google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Start root - Set the variables */
:root {
    --color-blue: #3a71c5;
    --color-yellow: #e9eb0a;
    --color-red: #e31616;
    --color-light: #ededed;
    --color-dark: #242e4c;
    /* By setting the font size here to 62.5 we reset the rem. Now 1rem = 10px */
    font-size: 62.5%; 
}
/* End root */

/* Asterisk wildcard selector will override default styles added by the browser 
This will make the website look the same on all browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* Start general styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Setting the default font size */
    font-size: 1.6rem;
    color: var(--color-dark);
    background-color: var(--color-light);
}

a {
    font-size: 1.6rem;
    color: var(--color-blue);
}

a:hover {
    color: #e31616;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-red);
}

.hidden {
    display: none;
}
/* End general styles */

/* Start header */
header {
    background-color: var(--color-dark);
    padding: 0 .6rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px var(--color-red);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    padding: 1rem;
    text-transform: uppercase;
    color: var(--color-light);
}

#logo-image {
    position: relative;
    padding-left: 1rem;
    width: 100%;
    height: 5rem;
}
/* End header */

/* Start menu */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li > a {
    color: var(--color-light);
    display: block;
    width: 100%;
    padding: 1rem;
    transition: all .5s;
}

#menu > li a:hover {
    background-color: var(--color-blue);
    color: var(--color-light);
}

/* End menu */

/* Start navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: var(--color-dark);
    color: white;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px var(--color-red);
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    color: var(--color-light);
    font-size: 2rem;
}

/* End navbar styles with dropdown toggle */

/* Start main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 6rem;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    background-color: #e9eb0a;
}

/* End main content */

/** Start media query's for responsive design */

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        box-shadow: none;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
        letter-spacing: 1px;
        padding: 0;
    }

    #menu > li {
        padding-left: 1rem;
    }

    #menu > li > a {
        line-height: 3.5rem;
    }

    #menu > li a:hover {
        padding: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

}

/* Extra Large devices (992px and up) */
@media screen and (min-width: 1200px) {

}

/* End media query's for responsive design */