/* Import font from Google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Start root - Set the variables */
:root {
    --color-blue: #3a71c5;
    --color-yellow: #e9eb0a;
    --color-red: #e31616;
    --color-light: #dee2e6;
    --color-dark: #0d1b2a;
    /* By setting the font size here to 62.5 we reset the rem. Now 1rem = 10px */
    font-size: 62.5%; 
}
/* End root */

/* Asterisk wildcard selector will override default styles added by the browser 
This will make the website look the same on all browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* Start general styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Setting the default font size */
    font-size: 1.6rem;
    color: var(--color-dark);
    background-color: var(--color-light);
    font-family: "Open Sans", sans-serif;;
}

p {
  letter-spacing: 1px;
  line-height: 2rem;
  font-style: "Montserrat", sans-serif;
}

a {
    font-size: 1.6rem;
    color: var(--color-blue);
}

a:hover {
    color: #e31616;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-red);
}

.hidden {
    display: none;
}

.text-dark {
    color: var(--color-dark) !important;
}

.text-light {
    color: var(--color-light) !important;
}

.text-blue {
    color: var(--color-blue) !important;
}

.text-red {
    color: var(--color-red) !important;
}

.text-yellow {
    color: var(--color-yellow) !important;
}

.section-head {
    padding: 1rem;
    box-shadow: 2 2 var(--color-dark);
}

.section-head h2 {
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
}

.section-head h3 {
    line-height: 2rem;
    text-align: center;
    font-size: 1.6rem;
    color: var(--color-dark);
}
/* End general styles */

/* Start header */
header {
    background-color: var(--color-dark);
    padding: 0 .6rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    border-bottom: 2px solid var(--color-yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    padding: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--color-light);
}
/* End header */

/* Start menu */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li > a {
    color: var(--color-light);
    display: block;
    width: 100%;
    padding: 1.2rem .7rem;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 1.4rem;
}

#menu > li a:hover {
    background-color: var(--color-blue);
    color: var(--color-light);
}

/* End menu */

/* Start navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: var(--color-dark);
    color: white;
    width: 100%;
    left: 0;
    border-bottom: 2px solid var(--color-yellow);
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    color: var(--color-light);
    font-size: 2rem;
}

/* End navbar styles with dropdown toggle */

/* Start main */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 5rem;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* End main */

/* Start hero section */
#hero {
    height: 500px;
    width: 100%;
    background: url("../images/hero-bg.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 120%;
    position: absolute;
    bottom: 5rem;
    margin: 0 auto;
    width: 100%;
    min-height: 20rem;
    padding-top: 4rem;
    padding-left: 1rem;
    color: var(--color-light);
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}
/* End hero section */

/* Start history section */
.history-content {
    display: flex;
    flex-direction: column;
}

.history-content div {
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.history-content ul {
    margin-left: 2rem;
    padding: 1rem 0;
}

.history-content ul li {
    list-style-type: disc;
}


/* End history section */

/* Start culture section */
/* End culture section */

/* Start attractions section */
/* End attractions section */

/* Start cuisine section */
/* End cuisine section */

/* Start contact section */
/* End contact section */


/* Start footer */
footer {
    background-color: var(--color-dark);
    border-top: 2px solid var(--color-yellow);
}

footer p {
    color: var(--color-light);
    text-align: center;
    display: block;
    padding: 5px;
    border-top: 1px solid var(--color-light);
}

#social-networks {
    text-align: center;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    color: var(--color-light);
    transition: all ease-in .3s;
}

#social-networks i:hover {
    color: var(--color-blue);
}

/* End footer */

/** Start media query's for responsive design */

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Start Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        box-shadow: none;
        padding-right: 1rem;
        border-bottom: none;
    }

    #menu {
        display: flex;
        letter-spacing: 1px;
        padding: 0;
    }

    #menu > li > a {
        line-height: 2.6rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #cover-text {
        min-height: 15rem;
    }
    /* End Header */

    /* Start history section */
    #history {
        border-bottom: 1px solid white;
    }
    .history-content {
        width: 70%;
        margin: 0 auto
    }
    .history-content div {
        padding: 2rem;
        box-shadow: none;
    }
    /* End history section */
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    

/* Extra Large devices (992px and up) */
@media screen and (min-width: 1200px) {

}

/* End media query's for responsive design */